# ABOUT ME

Hi I am
...
...
...

# PREFERENCES
My salary expectation is....
...
...

# JOB EXPERIENCE
Microsoft (2018-2020)
...
...
...
Google (2012-2018)
...
...
...

# PROJECTS

NLP App:
The software is...
...
...

# EDUCATION
Bachelor Degree...
...
...
...

# CERTIFICATIONS AND COURSES
Google Data Science Bootcamp
...
...
...
