<ABOUT ME>

Hi I am
...
...
...

<JOB EXPERIENCE>
Microsoft (2018-2020)
...
...
...
Google (2012-2018)
...
...
...

<EDUCATION>
Bachelor Degree...
...
...
...

<CERTIFICATIONS AND COURSES>
Google Data Science Bootcamp
...
...
...
